{{ include('partials/header.blade.html') }}

<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.2/dist/css/splide-core.min.css" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.2/dist/css/splide.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.2/dist/js/splide.min.js"></script>
<script rel="preload" src="https://rawcdn.githack.com/nextapps-de/spotlight/0.7.8/dist/spotlight.bundle.js" as="script"></script>

{% set AdsFeatures          = AdsInformations.features|split(',') %}
{% set AdsPaymentConditions = AdsInformations.payment_conditions|split(',') %}
{% set AdsPapers            = AdsInformations.papers|split(',') %}


{% for Payments in AdsPaymentConditions %}
  {{Payments}}
{% endfor %}

{% for Features in AdsFeatures %}
{{Features}} <br />
{% endfor %}
<div class="page-wrapper">
    <div class="container-xl">
      <!-- Header Page Bloc -->
      <div class="page-header">
        <div class="row align-items-center mw-100">
          <div class="col">
            <div class="mb-1">
              <ol class="breadcrumb" aria-label="breadcrumbs">
                <li class="breadcrumb-item"><a href="#">Ads</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#"> {{AdsCategory.name_fr}}  </a></li>
              </ol>
            </div>
            <h2 class="page-title">
              <span class="text-truncate">{{AdsResponse.title}}</span>
            </h2>
          </div>
          <div class="col-auto">
            <div class="btn-list">
              {% if AdsResponse.item_status != "active" %}
                <a class="btn btn-danger disabled">
                  Solded
                </a>
              {% else %}
                <a href="#" class="btn btn-primary">
                  Demander un appel
                </a>
              {% endif %}


            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="page-body">
      <div class="container-xl">

        

        {% if AdsResponse.item_status != "active" %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <div class="d-flex">
            <div>
              <!-- Download SVG icon from http://tabler-icons.io/i/alert-circle -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-exclamation-mark" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 19v.01"></path>
                <path d="M12 15v-10"></path>
             </svg>

            </div>
            <div>
              <div class="text-muted"> This item is no longer available on our systems, sold successfully.</div>
            </div>
          </div>
        </div>
        {% endif %}




        <div class="row row-cards">

            <div class="col-md-6">

              <!-- Title Bloc -->
              <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-truncate">{{ AdsResponse.title|e }}</h3>
                </div>
              </div>

                <!-- Images Left bloc  -->
              <section class="splide" aria-labelledby="carousel-heading">
                <div class="splide__track">
                  <ul class="splide__list">
                    {% for image in AdsImages %}
                      <li class="splide__slide"><img class="spotlight d-block" alt="" src="{{STORAGE_IMAGE}}/{{image.path|e}}"></li>
                    {% endfor %}
                  </ul>
                </div>
              </section>
              
                

            </div>

            <!-- Right Bloc -->
            <div class="col-md-6">
              <div class="card card-md">
                  <div class="card-body text-center">
                      <div class="text-uppercase text-muted font-weight-medium">Code d'announce : {{ AdsResponse.public_id|e }}</div>
                      <div class="display-5 fw-bold my-3">
                          {{ AdsResponse.price|e }} 
                          {% if AdsResponse.currency_unite == "ml" %}
                              Millions (DZD)
                          {% elseif AdsResponse.currency_unite == "md" %}
                              Milliard (DZD)                        
                          {% endif %}
                      </div>

                      <div class="hr-text">
                        <span>About this announce</span>
                      </div>

                      <p>
                        {{ AdsResponse.marketing_description|e }}
                      </p>



                      {% if AdsResponse.item_status != "active" %}
                        <!-- Disabled Button -->
                        <div class="text-center mt-4">
                          <a class="btn btn-red w-100 disabled">Item no longer available</a>
                        </div>

                      {% else %}

                        <!-- Enabled Button Call to action -->
                        <div class="text-center mt-4">
                          <a href="#" class="btn btn-green w-100">Book</a>
                        </div>
                       {% endif %}
                  </div>
              </div>
            </div>


          <div class="col-12">
            <div class="card card-md">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">
                    <h2 class="h3">Ads Placement</h2>
                    <p class="m-0 text-muted">Ads Image or text will appear here from google or any other ads provider</p>
                  </div>
                  <div class="col-auto">
                    <a href="#" class="btn">
                      Close ADS
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </div>

        </div>
      </div>
    </div>
</div>

{{ include('partials/footer.blade.html') }}



<script type="text/javascript">
  var splide = new Splide( '.splide', {
    direction: 'ttb',
    height   : '310px',
    wheel    : true,
  } );

  splide.mount();
</script>