{{ include('partials/header.blade.html') }}

      <div class="page-wrapper" id="main">
        <div class="container-xl">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="page-title">
                  Courses
                </h2>
                <div class="text-muted mt-1">19,541 course available in library</div>
              </div>

              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="row g-2">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Search for…">
                    </div>
                    <div class="col-auto">
                      <button class="btn btn-white btn-icon" aria-label="Button">
                        <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
                      </button>
                    </div>
                  </div>
              </div>

            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">

            {% for course in Courses %}
              <div class="col-sm-6 col-lg-4">
                <div class="card card-sm">
                  <a href="course/{{course.c_key}}" class="d-block"><img src="{{STORAGE_IMAGE}}/{{course.main_image}}" class="card-img-top"></a>
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <span class="avatar me-3 rounded" style="background-image: url('{{STORAGE_IMAGE}}/{{course.main_image}}')"></span>
                      <div>
                        <span class="text-truncate mt-n1">{{course.title}}</span>
                        <div class="text-muted text-truncate mt-n1">3 days ago</div>
                      </div>
                      <div class="ms-auto">
                        <a href="#" class="text-muted">
                          <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="2" /><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" /></svg>
                          467
                        </a>
                        <a href="#" class="ms-3 text-muted">
                          <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
                          67
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}

            </div>
           </div>
        </div>
      </div>

{{ include('partials/footer.blade.html') }}



<!-- <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />

<link href="https://unpkg.com/@videojs/themes@1/dist/city/index.css" rel="stylesheet"/>
<link href="https://unpkg.com/videojs-vr@1.8.0/dist/videojs-vr.css" rel="stylesheet"/>



  <video id="my-video" class="video-js vjs-theme-city" controls preload="auto" width="640" height="650" poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
    <source src="https://samplelib.com/lib/preview/mp4/sample-5s.mp4" type="video/mp4" />
    <source src="MY_VIDEO.webm" type="video/webm" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>

  <script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
  <script src="https://unpkg.com/videojs-vr@1.8.0/dist/videojs-vr.min.js"></script>
<script>
  var player = videojs('my-video');

  player.vr();
</script>
 -->