{{ include('partials/header.blade.html') }}

      <div class="page-wrapper" id="main">
        <div class="container-xl">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="page-title">
                  Available Movies - <select><option>Netflix</option><option>Disney</option><option>Server B9</option></select>
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="container-xl">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="list-group card-list-group">
                 {% for Movies in MoviesList %}
                    <!-- Item List -->
                    <div class="list-group-item">
                      <div class="row g-2 align-items-center">
                        <div class="col-auto fs-3">
                          {{loop.index}}
                        </div>
                        <div class="col-auto">
                          <img src="{{Movies.small_cover_image}}" class="rounded" alt="Course" width="40" height="40">
                        </div>
                        <a href='watch/{{Video.w_key}}' class="col">
                          {{Movies.title}} ({{Movies.year}})
                        </a>

                        <div class="col-auto text-muted">{{Movies.runtime}} Min</div>
                        <div class="col-auto lh-1">
                          <div class="dropdown">
                            <a href="#" class="link-secondary" data-bs-toggle="dropdown"><!-- Download SVG icon from http://tabler-icons.io/i/dots -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="5" cy="12" r="1" /><circle cx="12" cy="12" r="1" /><circle cx="19" cy="12" r="1" /></svg>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                              <a class="dropdown-item" href="#">
                                Watch
                              </a>
                              {% if Movies.yt_trailer_code != false %}
                              <a class="dropdown-item" target="_balnk" href=" https://www.youtube.com/watch?v={{ Movies.yt_trailer_code }}">
                                Watch Trailer
                              </a>
                              {% endif %}
                              <a class="dropdown-item" href="#">
                                Send
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>



                    {% else %}

                    No Content here, retry again later
                    <!-- End item List -->
                 {% endfor %}
                  </div>
                </div>
              </div>
<!--               <div class="col-lg-4">
                <h3 class="mb-3">Download Course docs</h3>
                <div class="row row-cards">

                  <div class="col-md-6 col-lg-12">
                    <div class="card">
                      <div class="row row-0">
                        <div class="col-auto">
                          <img src="{{STORAGE_IMAGE}}/image-4.jpg" class="rounded-start" alt="Shape of You" width="80" height="80">
                        </div>
                        <div class="col">
                          <div class="card-body">
                            How to start with us
                            <div class="text-muted">
                              PDF Format
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div> -->
            </div>
          </div>
        </div>
    </div>
{{ include('partials/footer.blade.html') }}
