<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{{PageTitle}}</title>
    <!-- CSS files -->
    {{ include('partials/single-page-app.html') }}
    <link href="{{APP_URL}}/{{TemplatePath}}/dist/css/tabler.min.css" rel="stylesheet"/>
    <link href="{{APP_URL}}/{{TemplatePath}}/dist/css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="{{APP_URL}}/{{TemplatePath}}/dist/css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="{{APP_URL}}/{{TemplatePath}}/dist/css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="{{APP_URL}}/{{TemplatePath}}/dist/css/demo.min.css" rel="stylesheet"/>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body  class="border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
      <div class="container-tight py-4">
        <div class="text-center mb-4">
          <a href="." class="navbar-brand navbar-brand-autodark"><img src="./static/logo.svg" height="36" alt=""></a>
        </div>

        <div class="card card-lg">

          <!-- STEPS -->
          <div class="steps steps-counter steps-blue">
            <a href="1" class="step-item"></a>
            <a href="2" class="step-item active"></a>
            <span href="#" class="step-item"></span>
          </div>
          <!-- END STEPS -->

          <div class="card-body text-center py-4 p-sm-5">
            <img src="{{APP_URL}}/{{TemplatePath}}/static/illustrations/payment-animation.svg" height="250" class="mb-n2" height="120"  alt="">
            <span class="display-5 fw-bold my-3">$0.99 Imagine</span>
          </div>
          <div class="hr-text hr-text-center hr-text-spaceless">Choose your prefered payment method</div>
          <div class="card-body">

          <ul class="nav" data-bs-toggle="tabs">
            <li class="nav-item">
              <a href="#tabs-stripe-ex5" class="nav-link" data-bs-toggle="tab"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                <span class="payment payment-sm payment-provider-stripe me-3"></span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#tabs-paypal-ex5" class="nav-link" data-bs-toggle="tab"><!-- Download SVG icon from http://tabler-icons.io/i/user -->
                <span class="payment payment-sm payment-provider-paypal me-3"></span>
              </a>
            </li>

          </ul>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane" id="tabs-stripe-ex5">
              <form action="/charge" method="post" id="payment-form">
                <div class="form-row">
                  <label for="card-element">
                    Credit or debit card
                  </label>
                  <div id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                  </div>

                  <!-- Used to display Element errors. -->
                  <div id="card-errors" role="alert"></div>
                </div>

                <button>Submit Payment</button>
              </form>

              </div>
              <div class="tab-pane" id="tabs-paypal-ex5">
                <div><button>Go Pay with paypal</button></div>
              </div>
            </div>
          </div>


          </div>
        </div>
        <div class="row align-items-center mt-3">
          <div class="col">
            <div class="btn-list justify-content-end">
              <!-- <a href="#" class="btn btn-link link-secondary">
                Return
              </a> -->
              <a href="3" class="btn btn-primary">
                Continue
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="{{APP_URL}}/{{TemplatePath}}/dist/js/tabler.min.js"></script>
    <script src="{{APP_URL}}/{{TemplatePath}}/dist/js/demo.min.js"></script>
  </body>
</html>



<script type="text/javascript">

// Set your publishable key: remember to change this to your live publishable key in production
// See your keys here: https://dashboard.stripe.com/apikeys
var stripe = Stripe('pk_test_51H02nDJEuRdzmlq21zQynSrqoWmUOnrwU7SCpxUfl1i0C1I5fHBuOimMXHeQuIHy9p4AygEBQib6oSfeT0NEfjF000ofJECyEi');
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
var style = {
  base: {
    // Add your base input styles here. For example:
    fontSize: '16px',
    color: '#32325d',
  },
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Create a token or display an error when the form is submitted.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the customer that there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}
</script>