<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{{PageTitle}}</title>
    <!-- CSS files -->
    {{ include('partials/single-page-app.html') }}
    <link href="{{APP_URL}}/{{TemplatePath}}/dist/css/tabler.min.css" rel="stylesheet"/>
    <link href="{{APP_URL}}/{{TemplatePath}}/dist/css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="{{APP_URL}}/{{TemplatePath}}/dist/css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="{{APP_URL}}/{{TemplatePath}}/dist/css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="{{APP_URL}}/{{TemplatePath}}/dist/css/demo.min.css" rel="stylesheet"/>
  </head>
  <body  class=" border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
      <form class="container-tight py-4" method="POST">
        <div class="text-center mb-4">
          <a href="." class="navbar-brand navbar-brand-autodark"><img src="./static/logo.svg" height="36" alt=""></a>
        </div>
        <div class="card card-md">

        <!-- STEPS -->
          <div class="steps steps-counter steps-blue">
            <a href="1" class="step-item active"></a>
            <span href="#" class="step-item"></span>
            <span href="#" class="step-item"></span>
          </div>
          <!-- END STEPS -->

          <div class="card-body text-center py-4 p-sm-5">
            <img src="{{APP_URL}}/{{TemplatePath}}/static/illustrations/mom-animation.svg" height="300" class="mb-n2" alt="">
            <h1 class="mt-5">{{ WelcomeUser }} 💖!</h1>
            <p class="text-muted">Here you will find the best part of you? continue the signup please</p>
          </div>
          <div class="hr-text hr-text-center hr-text-spaceless">your data</div>
          <div class="card-body">


            <div class="mb-3">
	            <div class="form-floating">
	              <select class="form-select mb-0" id="country" name="country">
				    {% for country in CountriesList %}
				    	<option value="{{ country.iso2 }}">{{ country.name|e }}</option>
				    {% endfor %}
	              </select>
	              <label for="country">{{selectCountry}}</label>
	            </div>
            </div>

            <div class="mb-3">
	            <div class="form-floating">
	              <select class="form-select" id="sexe" name="sexe">
					<option value="1">{{male}}</option>
					<option value="0">{{female}}</option>
	              </select>
	              <label for="sexe">{{sexe}}</label>
	            </div>
              <!-- <div class="form-hint">This is important for <b class="text-success">Your Interest</b> </div> -->
            </div>

          </div>
        </div>
        <div class="row align-items-center mt-3">
          <div class="col">
            <div class="btn-list justify-content-end">
              <!-- <a href="#" class="btn btn-link link-secondary">
                Return
              </a> -->
              <button type='submit' class="btn btn-primary">
                Continue
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="{{APP_URL}}/{{TemplatePath}}/dist/js/tabler.min.js"></script>
    <script src="{{APP_URL}}/{{TemplatePath}}/dist/js/demo.min.js"></script>
  </body>
</html>
