<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{{PageTitle}}</title>
    <!-- CSS files -->
    {{ include('partials/single-page-app.html') }}
    <link href="{{APP_URL}}/{{TemplatePath}}/dist/css/tabler.min.css" rel="stylesheet"/>
    <link href="{{APP_URL}}/{{TemplatePath}}/dist/css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="{{APP_URL}}/{{TemplatePath}}/dist/css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="{{APP_URL}}/{{TemplatePath}}/dist/css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="{{APP_URL}}/{{TemplatePath}}/dist/css/demo.min.css" rel="stylesheet"/>
  </head>
  <body  class=" border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
      <div class="container-tight py-4">
        <div class="text-center mb-4">
          <a href="." class="navbar-brand navbar-brand-autodark"><img src="./static/logo.svg" height="36" alt=""></a>
        </div>
        <div class="card card-md">
          <div class="card-body text-center py-4 p-sm-5">
            <img src="{{APP_URL}}/{{TemplatePath}}/static/illustrations/undraw_sign_in_e6hj.svg" height="128" class="mb-n2" height="120"  alt="">
            <h1 class="mt-5">{{ WelcomeUser }} 💖!</h1>
            <p class="text-muted">Yay ! Let's start the trip</p>
            <div class="empty-action">
              <a href="welcome/agreement" class="btn btn-primary">
                <!-- Download SVG icon from http://tabler-icons.io/i/arrow-narrow-right -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 9h8v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1z" /></svg>
                Start Now
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="{{APP_URL}}/{{TemplatePath}}/dist/js/tabler.min.js"></script>
    <script src="{{APP_URL}}/{{TemplatePath}}/dist/js/demo.min.js"></script>
  </body>
</html>
