<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Mobile App</title>
</head>
<body>


    <tr>
		{% for user in users %}
		    <a href='user-{{ user.id }}'> {{ user.name  }} </a> <br />
		{% endfor %}

		{%if IS_FORCE_MOBILE_TEMPLATE == true %}
			Force mobile mode : Active
		{% endif %}

    </tr>

    <form method="POST">
    	<input type="text" name="name" placeholder="Your Full Name" />
    	<button type="submit" name="insertData"> Insert Data </button>
    </form>


</body>
</html>