<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/page-accelerator/0.1.1/page-accelerator.min.js" integrity="sha512-YZMsq9hQOwRuYLHDE3xu5Fuqc7dsw8JW93koppkyK4dxD963sMKZkZQFF62HpQIA74nmG8mK4lzKQf0IpFOU2Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    pageAccelerator();
</script> -->
<!-- unpkg -->
<!-- <script src="https://cdn.jsdelivr.net/npm/pjax-api@latest"></script>
<script type="text/javascript">
const { Pjax } = require('pjax-api');

new Pjax({
  areas: [
    // Try the first query.
    '#main',
    // Retry with the second query when the first query doesn't match.
    '.page-wrapper',
    // Retry.
    'body'
  ]
});
</script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js" integrity="sha512-G3jAqT2eM4MMkLMyQR5YBhvN5/Da3IG6kqgYqU9zlIH4+2a+GuMdLb5Kpxy6ItMdCfgaKlo2XFhI0dHtMJjoRw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>